In [1]:
#Working with Datetime format
import pandas as pd

In [2]:
df=pd.DataFrame({
    'date':['12/10/2000','15/11/2000','20/12/2000'],
    'value':[2,3,4]
})
df

         date  value
0  12/10/2000      2
1  15/11/2000      3
2  20/12/2000      4

In [3]:
df.info() # here date is in object form change it to datetime datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [9]:
df['date']=pd.to_datetime(df['date'], errors='ignore')
df

C:\Users\shoki\AppData\Local\Temp\ipykernel_4008\2820289300.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df['date']=pd.to_datetime(df['date'], errors='ignore')

        date  value
0 2000-12-10      2
1        NaT      3
2        NaT      4

In [10]:
df['date']=pd.to_datetime(df['date'], errors='coerce')
df

        date  value
0 2000-12-10      2
1        NaT      3
2        NaT      4

In [15]:
data_frame=pd.DataFrame({
    'year':[2015,2016,2017],
    'month':[5,6,7],
    'day':[1,2,3]
})
data_frame

   year  month  day
0  2015      5    1
1  2016      6    2
2  2017      7    3

In [16]:
x['date']=pd.to_datetime(df)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing