In [2]:
import json

In [3]:
data={
    'name':{
    'age':'23',
    'roll':'45'
    }
}

In [4]:
with open('data_file.json','w') as write_file: #Writing JSON file
    json.dump(data,write_file) #note: dump() takes two positional arguments

In [6]:
type(data)

dict

In [7]:
#Reading JSON file 
with open('data_file.json','r') as read_file:
    data = json.load(read_file)

In [9]:
data

{'name': {'age': '23', 'roll': '45'}}

In [10]:
import pandas as pd

In [12]:
# Reading JSON as Dataframe
jsonStr = ''' 
{
"Index0":{"Courses":"Pandas","Discount":"1200"},
"Index1":{"Courses":"Hadoop","Discount":"1500"},
"Index0":{"Courses":"Spark","Discount":"1700"}
}
'''
# Convert JSON to Dataframe 
df = pd.read_json(jsonStr,orient='Index')
print(df)

         Index0  Index1
Courses   Spark  Hadoop
Discount   1700    1500

C:\Users\shoki\AppData\Local\Temp\ipykernel_2900\3160653473.py:10: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(jsonStr,orient='Index')

In [14]:
# Convert Dict to Dataframe 
df2 = pd.DataFrame.from_dict(data,orient='index')
df2

     age roll
name  23   45

In [ ]:
# Reading excel file using pandas 
excel_df=pd.read_excel("path of excel file.xlsx") # excel to DF
excel_df

In [ ]:
excel_df.to_excel("modified excel file.xlsx") # DF to updated excel file