In [1]:
#Pandas is very useful package in Data Engineer

Requirement already satisfied: pandas in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

Requirement already satisfied: pandas in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\shoki\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
pd.__version__

'2.3.3'

In [2]:
my_list=[10,20,30,40,50]
series = pd.Series(my_list)
print(series)
print(series.index)
print(series.values)

0    10
1    20
2    30
3    40
4    50
dtype: int64
RangeIndex(start=0, stop=5, step=1)
[10 20 30 40 50]

In [5]:
import numpy as np
#creating series from numpy array
arr=np.array([10,20,30])
index=['a','b','c']
pd.Series(data=arr,index=index)

a    10
b    20
c    30
dtype: int64

In [6]:
#creating series from dictionary
d={'a':10,
  'b':20,
   'c':30
  }
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
ser1=pd.Series([1,2,3,4],index=['USA','Germay','USSR','Japan'])
ser2=pd.Series([1,2,5,4],index=['USA','Germay','Italy','Japan'])
#get the value of USA 
print(ser1['USA'])
print(ser1+ser2) #performing operation

1
Germay    4.0
Italy     NaN
Japan     8.0
USA       2.0
USSR      NaN
dtype: float64

In [12]:
#creating Dataframe
df=pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
print("Shape",df.shape)
print("Index",df.index)

Shape (3, 3)
Index RangeIndex(start=0, stop=3, step=1)

In [14]:
# Assign indexes by yourself
df2=pd.DataFrame([[1,2,3],[4,5,6],[6,7,8],[10,11,12]],index=['a','b','c','d'],columns=['x','y','z'])
print("Shape:",df2.shape)
print("Indexes:",df2.index)

Shape: (4, 3)
Indexes: Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
print(df2.loc['d', 'z']) #print specific value from DataFrame

12

In [4]:
weather_df=pd.read_csv("Weather_CSV_2012.csv")
print("Shape",weather_df.shape)
print("index",weather_df.index)

Shape (366, 5)
index RangeIndex(start=0, stop=366, step=1)

In [27]:
weather_df.head()

         Date  Temperature_C  Humidity_%  WindSpeed_kmph Condition
0  2012-01-01             20          60               5     Clear
1  2012-01-02             21          61               6    Cloudy
2  2012-01-03             22          62               7     Rainy
3  2012-01-04             23          63               8     Clear
4  2012-01-05             24          64               9    Cloudy

In [30]:
print(type(weather_df['Date'])) # particlar column is of series data type
print(type(weather_df)) # But all columns are of Dataframe datatype

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [31]:
weather_df["Date"] = pd.to_datetime(weather_df["Date"])
print(type(weather_df['Date']))

<class 'pandas.core.series.Series'>

In [32]:
weather_df["Date"].head() #Date column changes to datetime datatype from series datatype so that we can perform operations now

0   2012-01-01
1   2012-01-02
2   2012-01-03
3   2012-01-04
4   2012-01-05
Name: Date, dtype: datetime64[ns]

In [33]:
weather_df["Date"].tail()

361   2012-12-27
362   2012-12-28
363   2012-12-29
364   2012-12-30
365   2012-12-31
Name: Date, dtype: datetime64[ns]

In [37]:
weather_df["Condition"].unique() #How many unique value present in col

array(['Clear', 'Cloudy', 'Rainy'], dtype=object)

In [38]:
weather_df["Condition"].nunique() #number of unique values present in col

3

In [39]:
weather_df["Condition"].value_counts() #how many times values are occuring

Condition
Clear     122
Cloudy    122
Rainy     122
Name: count, dtype: int64

In [6]:
#Select multiple column 
weather_df[['Condition','Date']].head()

  Condition        Date
0     Clear  2012-01-01
1    Cloudy  2012-01-02
2     Rainy  2012-01-03
3     Clear  2012-01-04
4    Cloudy  2012-01-05

In [10]:
weather_df[:25:2][['Condition','Date']] #perform slicing and select specific cols

   Condition        Date
0      Clear  2012-01-01
2      Rainy  2012-01-03
4     Cloudy  2012-01-05
6      Clear  2012-01-07
8      Rainy  2012-01-09
10    Cloudy  2012-01-11
12     Clear  2012-01-13
14     Rainy  2012-01-15
16    Cloudy  2012-01-17
18     Clear  2012-01-19
20     Rainy  2012-01-21
22    Cloudy  2012-01-23
24     Clear  2012-01-25

In [14]:
# loc and iloc funtn to select cols
weather_df.loc[0:5,['Condition','Date']] #loc goes on labeled basis isiliye 0 se 5 tak de raha hai

  Condition        Date
0     Clear  2012-01-01
1    Cloudy  2012-01-02
2     Rainy  2012-01-03
3     Clear  2012-01-04
4    Cloudy  2012-01-05
5     Rainy  2012-01-06

In [15]:
weather_df[['Condition','Date']].iloc[0:5] #iloc goes index basis isiliye 0 se 4 tak de raha hai

  Condition        Date
0     Clear  2012-01-01
1    Cloudy  2012-01-02
2     Rainy  2012-01-03
3     Clear  2012-01-04
4    Cloudy  2012-01-05

In [24]:
# Filtering in pandas
Clear_filter=weather_df["Condition"].str.lower().str.contains('clear') #Sirf clear wala data display ho raha hai
Clear_filter.head()

0     True
1    False
2    False
3     True
4    False
Name: Condition, dtype: bool

In [25]:
weather_df['Condition'].iloc[3]

'Clear'

In [26]:
weather_df[Clear_filter] #Clear_filter is boolean arr Only true values are printing or weather_df[~Clear_filter] print data without 'clear' value

           Date  Temperature_C  Humidity_%  WindSpeed_kmph Condition
0    2012-01-01             20          60               5     Clear
3    2012-01-04             23          63               8     Clear
6    2012-01-07             26          66              11     Clear
9    2012-01-10             29          69              14     Clear
12   2012-01-13             22          72              17     Clear
..          ...            ...         ...             ...       ...
351  2012-12-17             21          71              11     Clear
354  2012-12-20             24          74              14     Clear
357  2012-12-23             27          77              17     Clear
360  2012-12-26             20          60               5     Clear
363  2012-12-29             23          63               8     Clear

[122 rows x 5 columns]

In [29]:
# filter on multiple conditions
x=weather_df[(weather_df['WindSpeed_kmph'] > 10 ) & (weather_df['Condition'] == "Clear")]
x.head()

          Date  Temperature_C  Humidity_%  WindSpeed_kmph Condition
6   2012-01-07             26          66              11     Clear
9   2012-01-10             29          69              14     Clear
12  2012-01-13             22          72              17     Clear
21  2012-01-22             21          61              11     Clear
24  2012-01-25             24          64              14     Clear

In [ ]:
# Cheatsheet for selection,indexing,filtering 
'''df['colname'] 
df[['col1','col2','col3']]
df[0:5] using slicing
df[boolean array]
df.loc[row_idx,col_idx]
df.iloc[row_idx,col_idx]
'''

In [41]:
# Operations on dataframe 
weather_df['WindSpeed_kmph'] + 3 # +,-,div,mul

0       8
1       9
2      10
3      11
4      12
       ..
361     9
362    10
363    11
364    12
365    13
Name: WindSpeed_kmph, Length: 366, dtype: int64

In [42]:
weather_df['new_Column'] = weather_df['WindSpeed_kmph'] + weather_df['Temperature_C']
weather_df['new_Column']

0      25
1      27
2      29
3      31
4      33
       ..
361    27
362    29
363    31
364    33
365    35
Name: new_Column, Length: 366, dtype: int64

In [45]:
# Adding\Updating cols
updated_col = weather_df['Temperature_C'] * 100
weather_df['Temperature_C']=updated_col
weather_df.head()

         Date  Temperature_C  Humidity_%  WindSpeed_kmph Condition  new_Column
0  2012-01-01           2200          60               5     Clear          25
1  2012-01-02           2300          61               6    Cloudy          27
2  2012-01-03           2400          62               7     Rainy          29
3  2012-01-04           2500          63               8     Clear          31
4  2012-01-05           2600          64               9    Cloudy          33

In [43]:
#.apply(function_name) 
def Solve(num):
    return num + 2

weather_df['Temperature_C'].apply(Solve)

0      22
1      23
2      24
3      25
4      26
       ..
361    23
362    24
363    25
364    26
365    27
Name: Temperature_C, Length: 366, dtype: int64

In [47]:
#Rename -> dictionary se ho raha hai
weather_df.rename(columns={'Temperature_C':'Temp','Condition':'mausam'},inplace=True) # inplace=True mtlb current df pe apply karo
weather_df.head()

         Date  Temp  Humidity_%  WindSpeed_kmph  mausam  new_Column
0  2012-01-01  2200          60               5   Clear          25
1  2012-01-02  2300          61               6  Cloudy          27
2  2012-01-03  2400          62               7   Rainy          29
3  2012-01-04  2500          63               8   Clear          31
4  2012-01-05  2600          64               9  Cloudy          33

In [49]:
weather_df.head() = weather_df.drop(columns=['new_Column']) # delete columns from df
weather_df.head()

         Date  Temp  Humidity_%  WindSpeed_kmph  mausam  new_Column
0  2012-01-01  2200          60               5   Clear          25
1  2012-01-02  2300          61               6  Cloudy          27
2  2012-01-03  2400          62               7   Rainy          29
3  2012-01-04  2500          63               8   Clear          31
4  2012-01-05  2600          64               9  Cloudy          33

In [51]:
weather_df.sort_values('new_Column',ascending=False)

           Date  Temp  Humidity_%  WindSpeed_kmph mausam  new_Column
269  2012-09-26  3100          69              19  Rainy          48
359  2012-12-25  3100          79              19  Rainy          48
59   2012-02-29  3100          79              19  Rainy          48
29   2012-01-30  3100          69              19  Rainy          48
179  2012-06-28  3100          79              19  Rainy          48
..          ...   ...         ...             ...    ...         ...
150  2012-05-30  2200          70               5  Clear          25
330  2012-11-26  2200          70               5  Clear          25
30   2012-01-31  2200          70               5  Clear          25
360  2012-12-26  2200          60               5  Clear          25
0    2012-01-01  2200          60               5  Clear          25

[366 rows x 6 columns]